* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	background: #2e242e;
	font-family: sans-serif;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 30px;
}

section h1,
section h2 {
	font-size: 70px;
	color: #fff;
	text-shadow: 3px 3px 0 #000;
	margin-bottom: 20px;
}

section h2 {
	font-weight: normal;
	font-size: 20px;
}

form {
	display: flex;
	justify-content: space-between;
	width: 560px;
	margin-top: 20px;
}

form label span {
	color: #fff;
	font-size: 15px;
}

form button {
	padding: 10px;
	border-radius: 3px;
	border: none;
	width: 300px;
	margin-bottom: 10px;
	background: #171512;
	color: #fff;
	font-size: 18px;
}

form input[name=number_of_paragraphs] {
	width: 40px;
	height: 40px;
	text-align: center;
}

.quote {
	width: 560px;
	margin: 20px;
}

.quote p {
	margin-bottom: 20px;
	color: #fff;
	font-size: 15px;
}
